body {
    font: 12px sans-serif;
   }
   
   path {
    stroke-width: 1px;
    stroke: white;
    fill: steelblue;
    cursor: pointer;
   }
   
   path:hover, path.highlighted {
    fill: tomato;
   }
   #map{
       height: 100%;
       width: 100%;
       position: fixed;
       top: 0;
       left: 0;
   }